 .TextUp
{
    display: flex;
    height: 50px;
}

.TextDown
{
    display: flex;
    top: -76%;
    height: 5px;
    position: relative;
}

.LeftWord
{
    color:white;
    margin-right: auto;
    font-family: 'Comfortaa';
    padding-left: 1%;
    height: 5px;
}

.RightWord
{
    color:white;
    margin-left: auto;
    font-family: 'Comfortaa';
    padding-right: 1%;
}

.Back
{
    overflow: hidden;
    height: 100vh;
    background: no-repeat -webkit-linear-gradient(315deg, rgb(86, 52, 93), rgb(24, 8, 32) 42%);
    background: no-repeat -moz-linear-gradient(315deg, rgb(86, 52, 93), rgb(24, 8, 32) 42%);
    background: no-repeat linear-gradient(315deg, rgb(86, 52, 93), rgb(24, 8, 32) 42%);
}

.Kalush
{
    padding-left: 145px;
    color: white;
    font-size: 120px;
    margin-top: -12px;
    font-family: 'Misto' ;
    position: relative;
    z-index: 4;
}

.Photo
{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: -300px;
    margin-bottom: -180px;
    position: relative;
    z-index: 2;
}

.Text
{
    margin-left: 65%;
    color: white;
    font-size: 10px;
    top: -33%;
    font-family: 'Comfortaa';
    position: relative;
}

.TextTwo
{
    left: 22%;
    color: white;
    font-size: 120px;
    top: -41%;
    z-index: 1;
    font-family: 'Misto' ;
    position: relative;
}

#BText
{
    font-size: 14px;
}

